@import url('https://fonts.cdnfonts.com/css/typo-round');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Typo Round Regular Demo', 'Roboto', sans-serif;
  scroll-behavior: smooth;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#1a1a1a, #545454);
}

.container {
  max-width: 1200px;
  height: calc(100vh);
  margin: 0 auto;
  padding: 0 20px;
  color: #fff;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  div {
    height: 100%;
    scroll-snap-align: start;
    margin-top: 60px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1a1a1a;
}

nav h1 {
  font-size: 1.5rem;
  &::first-letter {
    color: #2200ff;
  }
}

nav ul {
  display: flex;
  gap: 10px;
  li {
    list-style: none;
    a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      border-radius: 500px;
      transition: background-color 0.3s;
      &:hover {
          background-color: #fff;
          color: #000;
      }
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  .profile-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 100px;
    h1 {
      font-size: 2rem;
      color: #fff;
      font-weight: 700;
    }
    h2 {
      font-size: 1.5rem;
      color: #fff;
      font-weight: 600;
    }
    p {
      font-size: 1.2rem;
      color: #fff;
      font-weight: 400;
    }
  }
  .profile-picture {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      border-radius: 500px;
      border: dashed 3px #ccc;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
  }
}